<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>LIST 목록</h2> </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/lists/add}'|" type="button">TODOLIST 등록</button> </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th> <th>LIST명</th> <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${lists}">
                <td><a href="list.html" th:href="@{/basic/items/{id}(id=${list.id})}" th:text="${list.id}">ID</a></td>
                <td><a href="list.html" th:href="@{|/basic/items/${list.id}|}" th:text="${list.listName}">LIST명</a></td>
                <td th:text="${list.contents}">10000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
